<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fd8f">  <td>18/02/16 12:00:08</td>   <td>0</td> <td title="&gt;&gt;BaseTestCardinal.openApplication()[pri:0, instance:test.CardinalTestRun@97e93f1]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1093864783</td>   <td></td> </tr>
<tr bgcolor="6c91b2">  <td>18/02/16 12:00:56</td>   <td>47559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardinalTestRun.testAddEmployee()[pri:6, instance:test.CardinalTestRun@97e93f1]">testAddEmployee</td> 
  <td>main@1093864783</td>   <td></td> </tr>
</table>
